In [1]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import username, password

In [2]:
#Create Database Connecttion
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employees_db')
connection = engine.connect()

In [3]:
#Read the employee_db file
employee_data = pd.read_sql("SELECT * FROM employees", connection)
employee_data.head()

,employee_no,emp_title_id,birth_date,first_name,last_name,gender,hire_date
0,473302,s0001,1953-07-25,Hideyuki,Zallocco,M,1990-04-28
1,475053,e0002,1954-11-18,Byong,Delgrande,F,1991-09-07
2,57444,e0002,1958-01-30,Berry,Babb,F,1992-03-21
3,421786,s0001,1957-09-28,Xiong,Verhoeff,M,1987-11-26
4,282238,e0003,1952-10-28,Abdelkader,Baumann,F,1991-01-18

In [4]:
salary_data = pd.read_sql("SELECT * FROM salaries", connection)
salary_data.head()

   employee_no      salary
0        10001  $60,117.00
1        10002  $65,828.00
2        10003  $40,006.00
3        10004  $40,054.00
4        10005  $78,228.00

In [ ]:
#Create a histogram
plt.figure(figsize= (12,6))
plt.hist(salary_data["salary"], color= "Blue", bins=20)
plt.ylabel("Number of Employees")
plt.xlabel("Salary($)")
plt.title("Frequency Distribution of Salary Ranges for Employees")
plt.grid()
plt.savefig("EmployeesSQL/Salary_range_for_employees.png")
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'EmployeesSQL/Salary_range_for_employees.png'

In [ ]:
#Read title table from Database
titles_data = pd.read_sql("SELECT * FROM titles", connection)
titles_data.head()

In [ ]:
#Rename column emp_title_id
renamed_db = employee_data.rename(columns={"title_id": "emp_title_id"})
renamed_db.head()

In [ ]:
#Merge Title and Renamed Employee Table
employee_title = pd.merge(renamed_db, titles_data, on="emp_title_id", how="inner")
employee_title.head()

In [ ]:
#Merge Title and Salary Table
title_salary = pd.merge(titles_data, employees_salary, on="emp_no", how="inner")
title_salary.head()

In [ ]:
#Average Salary
avg_salary = titles_data[["title", "salaries"]].groupby(["title"]).mean.reset_index()
avg_salary

In [ ]:
fig1, ax1 = plt.subplots(figsize=(10,6))
x_axis = avg_salary["title"]
ticks= np.arange(len(x_axis))
y_axis= avg_salary["Salary"]

#Create a chart based on the Data above
plt.bar(x_axis, y_axis, aligh="center", alpha= 0.8, color="Red")
plt.xticks(ticks,x_axis, rotation="vertical")
plt.ylabel("Salary($)")
plt.xlabel("Employee Title")
plt.title("Average Salary by Title")
plt.savefig("EmployeesSQL/average_salary.png")
plt.show()